<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.artags.android.app.tv" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:allowBackup="true"        
        android:icon="@drawable/ic_launcher"
        android:banner="@drawable/artags_banner"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.artags.android.app.tv.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.artags.android.app.tv.ui.fastlane.LeanbackActivity"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.artags.android.app.tv.TagDetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="org.artags.android.app.tv.ui.fastlane.TagDetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="org.artags.android.app.tv.ui.fastlane.LocationActivity"
            android:exported="true"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="org.artags.android.app.tv.ui.fastlane.ViewTagActivity"
            android:exported="true"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme" >
        </activity>

    </application>

</manifest>
